<div class="container">
  <div class="row">
    <div class="col">
      <div class="inpDiv">
        <input
          #inp
          (keyup)="getValue(inp)"
          class="form-control"
          placeholder="SearchByName...."
          type="search"
          name="inp"
          id="inp"
        />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" >
    <!-- *ngIf="filterdPostLength" -->
    <div class="col pt-3" *ngFor="let post of filterPosts">
      <app-blog-card [postId]="post.id"></app-blog-card>
    </div>
  </div>
</div>

<!-- <ng-template #alert>
  <div class="col pt-3">
    <div class="alert alert-danger" role="alert">
      <h1>No Data Found</h1>
    </div>
  </div>
</ng-template> -->
