.available {
  background-color: green;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
}
#cardb {
  width: 100%;
  padding: 5px;
  position: absolute;
  bottom: 0;
}
#cardtitle {
  position: absolute;
  top: 160px;
  left: 15px;
}
#cardt {
  position: relative;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}
.img-post {
  cursor: pointer;
  margin-bottom: 10px;
}
#postCreator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.danger {
  background-color: red;
}
.success {
  background-color: green;
}
