<div class="container my-5">
  <div class="row">
    <div class="col">
      <div>
        <h1>Users Table</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
        </thead>
        <tbody>
          <tr *ngFor="let userr of userArr">
            <td>{{ userr.id }}</td>
            <td>
              <a routerLink="/user/{{ userr.id }}">{{ userr.name }} </a>
            </td>
            <td>{{ userr.email }}</td>
            <td>{{ userr.address.city }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
